service firebase.storage {
  match /b/columbia-ride-share.appspot.com/o {
    match /{userId}/{postId}/{fileName} {
      allow write: if request.auth.uid == userId;
      allow read;
    }
  }
}
